<config>
    <sections>
        <dev>
            <groups>
                <mageconsult_themeswitcher>
                    <label>Mageconsult ThemeSwitcher</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cookieLifetime translate="label">
                            <label>Cookie Lifetime</label>
                            <comment><![CDATA[Cookie-Lifetime, empty for unlimited.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cookieLifetime>
                        <allowedThemes translate="label">
                            <label>Allowed Themes</label>
                            <comment><![CDATA[commaseperated list of allowed themes, empty for all available.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowedThemes>
                    </fields>
                </mageconsult_themeswitcher>
            </groups>
        </dev>
    </sections>
</config>